ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  text-decoration: none;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 15px;
}

a:link{
text-decoration: none;
font-family: arial, sans-serif;
font-size: small;
color: #515559;
}

a:hover{
text-decoration: underline;
}

.footer {
position: fixed;
left: 0;
bottom:0;
width: 100%;
background-color: #f2f2f2;
}

img {
display: block;
padding-top: 10%;
margin-left: 42.5%;
padding-bottom: 30px;
}

input[type=text] {
display: block;
margin-left: auto;
margin-right: auto;
width: 30%;
height: 40px;
border: 1px solid #dfe1e5; 
border-radius: 20px;
}

input[type=text]:hover {
box-shadow: 0 0 10px 0 #d3d3d3;
}

.button {
background-color: #f3f3f3;
border: none;
color: black;
padding: 12px 15px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 13px;
color: gray;
margin: 2px 6px;
}

.button:hover {
color: black;
border: 1px solid #d3d3d3;
}